* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(76, 130, 127)
}

.container {
    cursor: pointer;
    margin: 10px;
    user-select: none;

}



span {
    font-size: 11rem;
    font-weight: bolder;
    line-height: 1;
    display: inline-block;
    text-shadow: 15px 10px 15px rgb(0, 0, 0);
    color: white;
}

span.active {
    animation: jump 2s ease-in-out;
}

@keyframes jump {
    0% {
        transform: translate(0, 0) rotate(180deg)
    }

    100% {
        transform: scale(2.5) translate(0, -180px)
    }
}




@media (max-width : 800px) {
 
    span{
        font-size: 60px;
    }
}
